.row {
  color: white;
  margin-left: 20px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 20px;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 120px;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}
.trailerContainer {
  position: relative;
  margin-top: 10px;
}

.closeBtn {
  position: absolute;
  top: -20px;
  right: 520px;
  background: white;
  color: #111;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 6px;
}

.closeBtn:hover {
  background: red;
  color: azure;
}
