.banner {
  background-size: contain;
  background-position: bottom;
  margin-top: -10vh;
  height: 100vh;
  margin-bottom: -200px;
  color: white;
  object-fit: cover;
}
.banner__contents {
  margin-left: 30px;
  padding: 150px 30px;
  /* height: 190px; */
}
.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.banner__description {
  width: 45rem;
  line-height: 1;
  padding: 1rem;
  font-size: 1rem;
  max-width: 500px;
  height: 80px;
}
.banner__button {
  margin: 20px 0;
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 1rem 3rem;
  margin-right: 2rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.banner__button:hover{
  background-color: #837d7d;
}
.play {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
.banner_fadeBottom {
  height: 400px;
  background-image: linear-gradient(180deg, transparent, rgba(0,0,0,0.6), #111);
}
